<div id="wrapper" class="container">
  <div class="row">
    <div class="col-lg-6">
      <pet-list
        [data]="dogsList"
        title="Dogs"
        (add)="dogsList = add(dogsList, $event)"
        (remove)="dogsList = remove(dogsList, $event)"></pet-list>
    </div>

    <div class="col-lg-6">
      <pet-list
        [data]="catsList"
        title="Cats"
        (add)="catsList = add(catsList, $event)"
        (remove)="catsList = remove(catsList, $event)"></pet-list>
    </div>
  </div>
</div>
